Django==2.1
django-cors-headers==2.4.0
django-filter==2.0.0
django-safedelete==0.5.1
django-seed==0.1.9
djangorestframework==3.8.2
Faker==0.8.17
Markdown==2.6.11
Pillow==9.3.0
python-dateutil==2.7.3
pytz==2018.5
six==1.11.0
text-unidecode==1.2
