img {
    height: 250px;
    width: 184px;
    border-radius: 5px;
}

.card{
    position:relative;
    border: solid black 1px;
    margin-top: 5px;
}

#modal {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


#modal-content {
    background-color: #afb1ad;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.drawn {
    display: inline-block;
    margin-top: -200px;
}

.drawn:first-child {
    margin-top: 0px;
    margin-right: 0px;
}

.card:hover {
    z-index: 1;
}

#play-area, #opponent-play-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    height: 100%;
}

#play-area div, #opponent-play-area div {
    min-width: 200px;
    border: solid black 1px;
}

.column {
    height: 580px;
    overflow-y: auto;
    margin: 5px;
}

#discarded-area-parent {
    border: solid black 1px;
    min-height: 380px;
    overflow: auto;
}

#discard-area {
    position: relative;
    left: 180px;
    display: inline-block;
}

#discard-area img {
    margin-left: -160px;
}

#draw-area, #opponent-draw-area {
    flex-grow: 0;
}

#station-area, #opponent-station-area {
    flex-grow: 6;
}

#mission-area, #opponent-mission-area {
    flex-grow: 0;
}

#play-area #drawn-cards-area, #opponent-play-area #opponent-drawn-cards-area {
    border: none;
}

#drawn-cards-area, #opponent-drawn-cards-area {
    margin: 0px;
    text-align: center;
    padding: 0px;
    border: 0px;
}

nav form {
    display: inline-block;
}

#win-screen {
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #084d9a;
}

#station-area div, #opponent-station-area div {
    margin: 10px;
    min-height: 320px;
}

#station-area div div, #opponent-station-area div div {
    border: none;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#credit-area div, #opponent-credit-area div {
    border: none;
}

#card-area, #opponent-area {
    text-align: center;
}

#play-hints h5 {
    margin: 5px;
}

#play-hints{
    margin: 10px;
}

#hide-hints {
    display: inline;
}

h1 {
    margin-bottom: 0px;
}

h5 {
    margin: 0px;
}

#levy-area #station-Levy-area {
    border: none;
}

#card-area div, #opponent-area div {
    border-radius: 20px;
}

#card-area div, #opponent-area div {
    background-color: #afb1ad;
}

#content #play-area, #content #opponent-play-area {
    background-color: #084d9a;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #084d9a;
    color: #e2cf5e;
    font-family: 'Aldrich';
}

#content {
    text-shadow: 1px 1px #000000;
}

#opponent-area {
    display: none;
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #084d9a;
}

#header-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}