
{% extends 'index.html' %}
{% block content %}
    <h1>Login to Sector 86</h1>
    <form id="login_form" method="post" action="{% url 'room_service:login' %}">
        {% csrf_token %}
        Username: <input type="text" name="username" value="" size="50" />
        <br />
        Password: <input type="password" name="password" value="" size="50" />
        <br />

        <input type="submit" value="submit" />
    </form>
    <p>No account?</p>
    <a href="{% url 'room_service:register' %}">Register Here</a>
{% endblock %}